::before,
::after {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif; }

body::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* Disable scrollbar Chrome/Safari/Webkit */ }

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0; }

s {
  color: #fff;
  font-family: 'Montserrat', sans-serif; }

h1 {
  font-size: 4.5rem; }

h2 {
  font-size: 4rem; }

h3 {
  font-size: 1.6rem; }

h4 {
  font-size: 1.9rem;
  color: #c2c2c2; }

a,
li {
  text-decoration: none;
  list-style-type: none;
  color: black; }

img {
  width: 100%;
  height: auto;
  display: block; }

.container {
  background-color: #fff;
  display: grid;
  grid-template-rows: [main-start] repeat(10, 100vh) [main-end footer-start] 40vh [footer-end];
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "lan lan lan lan" "pro pro pro pro" "thi thi thi thi" "foo foo foo foo";
  transition: 1s; }

.landing_page {
  display: grid;
  grid-area: lan;
  grid-template-rows: [nav-start] 30vh [nav-end head-start] 70vh;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "logo nav" "head head"; }

.logo {
  grid-area: logo;
  position: fixed;
  top: 65px;
  left: 65px; }

.navigation {
  grid-area: nav;
  display: flex;
  position: fixed;
  top: 40px;
  right: 27px; }
  .navigation .menu_button {
    margin-right: 100px; }

.header_1 {
  grid-area: head;
  display: grid;
  position: fixed;
  top: 400px;
  left: 65px; }
  .header_1 h4 {
    margin-left: 5px; }

.projects {
  background-color: #f3f3f3;
  grid-area: pro; }
  .projects .vid-text-1 {
    position: absolute; }
  .projects video {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.thisandthat {
  background-color: white;
  grid-area: thi; }
  .thisandthat h1 {
    position: relative;
    top: 400px;
    text-align: center; }

.footer {
  background-color: #ff0505;
  grid-area: foo; }
