::before,
::after {
  box-sizing: border-box;
}

html {
//    overflow-y: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* Disable scrollbar Chrome/Safari/Webkit */
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

s {
	color: #fff;
	font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 4.5rem;
  text-transform: uppercase;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.9rem;
   color: rgb(194, 194, 194);
}

.col-1 {
	color:#fff;
	letter-spacing: -5px;
}

.col-2 {
	color: rgb(112, 112, 112);
	letter-spacing: -5px;
}

.col-3 {
	color: rgb(255, 230, 0);
	letter-spacing: -5px;
}

.stroke {
	color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: black;
}

a,
li {
  text-decoration: none;
  list-style-type: none;
  color: rgb(255, 255, 255);
}

img {
  width: 100%;
  opacity: 10%;
  height: auto;
  display: block;
}

.container {
	background-color: rgb(0, 0, 0);
	display: grid;
	grid-template-rows: [main-start] repeat(10,100vh ) [main-end footer-start] 40vh [footer-end];
	// grid-template-columns: repeat(4,1fr);

	grid-template-areas:"lan lan lan lan"
						 "txt1 txt1 txt1 txt1"
						 "txt2 txt2 txt2 txt2"
						 "txt3 txt3 txt3 txt3"
						 "txt4 txt4 txt4 txt4"
						 "foo foo foo foo";
	transition: 1s;
}

// .logo {
// 	grid-area: logo;
// 	font-size: 1.6rem;
// 	position: fixed;
// 	left: 40px;
// 	top: 40px;
// }

// #menu_bar {
// 	/* background-color: rgb(4, 0, 255); */
// 	grid-area: nav;
// 	position: fixed;
// 	right: 150px;
// 	top: 30px;
// }

// .navigation{
// 	display: grid;
// 	grid-gap: 60px;
// 	justify-items: space-around;
// 	grid-template-columns: repeat(4,1fr);
// 	color: rgb(194, 194, 194);
// 	margin: 0;
// }

///////////////////////////////////LANDING PAGE////////////////////////
.landing_page {
	// background-color: rgb(46, 46, 46);
	display: grid;
	grid-area: lan;

	grid-template-rows: [nav-start] 30vh [nav-end head-start] 70vh;
	grid-template-columns: repeat(2,1fr);
	grid-template-areas: "logo nav"
						 "head head";
	color: #fff;
}

.background_img {
	display: flex;
	position: fixed;
}

// .home_img {
// 	visibility: visible;
// 	position: fixed;
// 	left: 8px;
// 	top: 50px
// }

//scroll indicator////////////////////////////
.percent {
	position: fixed;
	left: 20px;
	bottom: 20px;
	display: flex;
	flex-direction: column;
	background: rgba(255,255,255,0.2);
	height: 1px;
	width: 100%;
	margin: -50px 0 0 50px;
}

.fill {
	position: absolute;
	bottom: 0;
	width:100%;
	height: 100%;
	background: #fff;
	transition: background 0.15s ease;
}
//////////////////////////////////////////////

.logo{
	grid-area: logo;
	position: fixed;
	top: 65px;
	left: 40px;
}

.navigation {
	grid-area: nav;
	display: grid;
	justify-items: flex-end;
	z-index: 10;


	position: fixed;
	top: 40px;
	right: 40px;
	
	& .menu_button {
		letter-spacing: 5px;
		margin-bottom: 10px;
	}
}

.header_1 {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-40%,-40%);
	opacity: 1;

	& .text-1 {
		display: flex;

		transform: translate(-50%, -30%);
		width: 500px;
		margin-bottom: -25px;
	}
}

.header_2 {
	position: fixed;
	top: 50%;
	left: 32%;
	transform: translate(-40%,-40%);
	opacity:0;

	& .text-2 {
		display: flex;

		position:relative;
		top: 30%;
		left: 30%;
		transform: translate(-30%, -50%);
		width: 500px;
		margin-bottom: -25px;
	}
}

.header_3 {
	position: fixed;
	top: 50%;
	left: 32%;
	transform: translate(-40%,-40%);
	opacity:0;

	& .text-3 {
		display: flex;

		position:relative;
		top: 30%;
		left: 30%;
		transform: translate(-30%, -50%);
		width: 500px;
		margin-bottom: -25px;
	}
}
/////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////SUB HOME PAGE////////////////////////////////////////////////////
.home {
	grid-area: txt1;
}

/////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////PROJECTS PAGE////////////////////////////////////////////////////
.projects {
	// background-color: rgb(51, 12, 12);
	grid-area: txt2;
	display: flex;
	text-overflow: hidden;

	& img {
	visibility: visible;
	// position: relative;
	// left: 8px;
	// top: 50px
	}
}


/////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////THISANDTHAT////////////////////////////////////////////////////
.thisandthat {
	display: flex;
	background-color: rgb(90, 36, 36);
	grid-area: txt3;
}


/////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////FOOTER////////////////////////////////////////////////////
.footer {
	background-color:#FFB300;
	display: grid;
	grid-template-columns: repeat(3,max-content);
	grid-template-rows: repeat(1,2fr min-content);
	grid-template-areas: "fnav soci cont"
						 "cpy cpy cpy";
	grid-area: foo;
	opacity: .9;
}

.footer_img {
	position: absolute;
	display: flex;
}

.soci_img {
	visibility: visible;
	opacity: 50%;
	left: 8px;
	top: 50px
}

.menu {
	// position: relative;
	// top: 250px;
	// left: 100px;
	grid-area: fnav;
	align-self: center;
	width: 300px;
	margin-top: 80px;
	margin-left: 80px;

	& ul li {
		display: flex;
		justify-content: start;
		color: #000;
		margin-bottom: 70px;

		& a {
			color: #000;
			font-size: 50px;
			font-weight: 700;
			letter-spacing: -5px;
			z-index: 10;
		}
	}

	& ul li p {
	transform: rotate(90deg);
	letter-spacing: 1px;
	margin-left: -25px;
	margin-top: 10px;
	font-size: 10px;
}
}

.divider {
	position: relative;
	bottom: 230px;
	left: 130px;
	transform: rotate(90deg);
	width: 330px;

	& p {
		color: #fff;
		font-size: 3px;
		display: flex;
		justify-content: center;
	}
}

.footer_social {
	grid-area: soci;
	align-self: center;
	z-index: 10;
	// position: relative;
	// top: 190px;
	// left: 100px;

	& .social {
		margin-top: 50px;
	}

	& .social a {
		font-weight: 700;
		color: #000;
		font-size: 80px;
	}
}

.copyright {
	grid-area: cpy;
	position: relative;
	left: 40px;
	bottom: 40px;
	font-weight: 500;
}

.contact {
	grid-area: cont;
	margin-top: 280px;
	margin-left: 150px;
	z-index: 10;

	& button {
		align-items: center;
		background: #ffb300c5;
		// filter: contrast(-3px);
		border-radius: 80px;
		display: flex;
		height: 100px;
		width: 280px;
		justify-content: center;
		border: 1px solid #ffffff3b;

	&:hover{
		align-items: center;
		background: #ffb3005d;
		border-radius: 80px;
		display: flex;
		height: 100px;
		width: 280px;
		justify-content: center;
		box-shadow: 
			3px 3px 3px 3px  #3f31101f,
			-3px -3px 5px  #1616151e;
		transform: scale(.98);
		transition: .5s;
	}
		
	}

	& button a {
		text-transform: uppercase;
		color: rgb(255, 255, 255);
		text-decoration: none;
		font-size: 50px;
		font-weight: 700;
		letter-spacing: 0;
	}

}

