:root {
  --yellow-color: #FFB300;
  --grey-color: #707070;
  --white-color:rgb(0, 0, 0);
  --black-color: #ffffff ;
  --lite-black: #221F17;
  --darkBlue-color: #010507;
}

::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  overflow: scroll;
  overflow-x: hidden;
  cursor: crosshair;
  caret-color: yellow;
  -ms-overflow-style: none;
  /* IE and Edge */
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

s {
  color: var(--white-color);
  font-family: 'Montserrat', sans-serif,'Cutive Mono';
}

h1 {
  font-size: 4.5rem;
  text-transform: uppercase;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.9rem;
  color: #c2c2c2;
}

.col-1 {
  color: var(--white-color);
  letter-spacing: -5px;
}

.col-2 {
  color: var(--grey-color);
  letter-spacing: -5px;
}

.col-3 {
  color: var(--yellow-color);
  letter-spacing: -5px;
}

.stroke {
  color: var(--black-color);
  -webkit-text-fill-color: white;
  /* Will override color (regardless of order) */
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: var(--black-color);
}

.fluidtext {
  font-size: 450px;
  color: var(--white-color);
  opacity: 0.1;
}

a,
li {
  text-decoration: none;
  list-style-type: none;
  color: var(--white-color);
}

img {
  height: auto;
  display: block;
}

.container {
  background-color: var(--black-color);
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: [main-start] (780px)[6] [main-end footer-start] 780px [footer-end];
      grid-template-rows: [main-start] repeat(6, 780px) [main-end footer-start] 780px [footer-end];
      grid-template-areas: "lan lan lan lan" "txt1 txt1 txt1 txt1" "txt2 txt2 txt2 txt2" "txt3 txt3 txt3 txt3" "txt4 txt4 txt4 txt4" "txt5 txt5 txt5 txt5" "foo foo foo foo";
  -webkit-transition: 1s;
  transition: 1s;
}

.landing_page {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: lan;
  -ms-grid-rows: [nav-start] 30vh [nav-end head-start] 70vh;
      grid-template-rows: [nav-start] 30vh [nav-end head-start] 70vh;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: "logo nav" "head head";
}

.home_text {
  position: fixed;
  top: 10%;
}

.percent {
  width: 30px;
  height: 30px;
  z-index: 10;
  position: fixed;
  background: var(--grey-color);
  margin: -10px 0 0 -10px;
  border-radius: 50%;
}

.percent .counter {
  padding: 20px;
  width: 30px;
  height: 30px;
  margin: -10px 0 0 -10px;
}

.percent .counter .h1 {
  margin: -10px 0 0 -10px;
  font-size: 40px;
}

.logo {
  z-index: 10;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
  position: fixed;
  top: 65px;
  left: 40px;
}

.logo h3 {
  color: var(--white-color);
}

.navigation {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: nav;
  display: -ms-grid;
  display: grid;
  justify-items: flex-end;
  z-index: 10;
  position: fixed;
  top: 40px;
  right: 40px;
}

.navigation li {
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.header_1 {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-40%, -40%);
          transform: translate(-40%, -40%);
  opacity: 1;
}

.header_1 .text-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translate(-50%, -30%);
          transform: translate(-50%, -30%);
  width: 500px;
  margin-bottom: -25px;
}

.header_2 {
  position: fixed;
  top: 50%;
  left: 32%;
  -webkit-transform: translate(-40%, -40%);
          transform: translate(-40%, -40%);
  opacity: 0;
}

.header_2 .text-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 30%;
  left: 30%;
  -webkit-transform: translate(-30%, -50%);
          transform: translate(-30%, -50%);
  width: 500px;
  margin-bottom: -25px;
}

.header_3 {
  position: fixed;
  top: 50%;
  left: 32%;
  -webkit-transform: translate(-40%, -40%);
          transform: translate(-40%, -40%);
  opacity: 0;
}

.header_3 .text-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 30%;
  left: 30%;
  -webkit-transform: translate(-30%, -50%);
          transform: translate(-30%, -50%);
  width: 500px;
  margin-bottom: -25px;
}

.socialmedia {
  position: fixed;
  bottom: 20px;
  right: 40px;
}

.socialmedia ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socialmedia ul li {
  margin-left: 30px;
}

.gap1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: txt1;
  overflow: hidden;
}

.projects {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: txt2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-overflow: hidden;
}

.projects .proj_text {
  letter-spacing: 70px;
}

.thisandthat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: txt3;
}

.thisandthat .crew_img {
  visibility: visible;
}

.faq {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: txt4;
  border-bottom: 1px solid var(--lite-black);
}

.faq .faq_sub .blur {
  background-color: var(--white-color);
  position: absolute;
  left: 15%;
  margin-top: 200px;
  width: 70vw;
  height: 70vh;
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
  -webkit-filter: blur(5px);
          filter: blur(5px);
  border-radius: 38px;
  opacity: .09;
}

.faq .faq_sub .faq-text {
  position: absolute;
  margin-top: 20px;
  left: 15%;
}

.faq .faq_sub .faq-text h1 {
  color: var(--darkBlue-color);
  font-size: 300px;
  opacity: 0.2;
}

.faq .faq_sub .questions {
  position: absolute;
  left: 22%;
  margin-top: 250px;
  width: 60vw;
  height: 60vh;
  font-family: 'cutive mono';
  color: var(--white-color);
}

.faq .faq_sub .questions .question_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: -50px;
}

.faq .faq_sub .questions .question_flex h1 {
  text-transform: uppercase;
}

.faq .faq_sub .questions .question_flex h2 {
  text-transform: uppercase;
}

.faq .faq_sub .questions p {
  font-size: 30px;
}

.faq .faq2, .faq .faq3 {
  opacity: 0;
}

.gap2 {
  width: 100%;
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: txt5;
  overflow: hidden;
}

.footer {
  background-color: var(--black-color);
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: foo;
  -ms-flex-line-pack: center;
      align-content: center;
}

.footer .soci_text {
  letter-spacing: 100px;
  position: absolute;
  left: 35px;
  margin-top: 160px;
}

.footer .copyright {
  color: var(--grey-color);
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  position: relative;
  top: 310px;
  left: 40px;
}

.footer_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 30vh;
  left: 40px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

.footer_items .menu {
  overflow: hidden;
  margin-top: 20px;
}

.footer_items .menu ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  color: var(--white-color);
  margin-bottom: 70px;
}

.footer_items .menu ul li a {
  color: var(--white-color);
  font-size: 50px;
  font-weight: 700;
  letter-spacing: -5px;
  z-index: 10;
}

.footer_items .menu ul li p {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  letter-spacing: 1px;
  margin-left: -25px;
  margin-top: 10px;
  font-size: 10px;
}

.footer_items .divider {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  width: 360px;
  position: absolute;
  top: 200px;
  left: 100px;
}

.footer_items .divider p {
  color: var(--white-color);
  font-size: 3px;
  letter-spacing: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer_items .divider a:hover {
  cursor: no-drop;
  cursor: url();
}

.footer_items .footer_social {
  z-index: 10;
  margin-left: 100px;
}

.footer_items .footer_social ul li a {
  font-weight: 700;
  color: -var(--grey-color);
  font-size: 80px;
}

.footer_items .footer_social ul li:not(:first-child) {
  margin-top: 40px;
}

.footer_items .contact {
  z-index: 10;
  margin-left: 190px;
  margin-top: 100px;
}

.footer_items .contact span {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffb300c5;
  border-radius: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  width: 280px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #ffffff3b;
}

.footer_items .contact span:hover {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #221f1760;
  border-radius: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  width: 280px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 3px 3px 3px 3px  #3f31101f, -3px -3px 5px  #1616151e;
          box-shadow: 3px 3px 3px 3px  #3f31101f, -3px -3px 5px  #1616151e;
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
  -webkit-transition: .5s;
  transition: .5s;
}

.footer_items .contact span a {
  text-transform: uppercase;
  color: var(--white-color);
  text-decoration: none;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 0;
  -webkit-transition: .5s ease-out;
  transition: .5s ease-out;
}

.footer_items .contact span a:hover {
  color: var(--lite-black);
}
/*# sourceMappingURL=styles.css.map */