:root {
	--yellow-color: #f9813a;
	--yellow-op-color: #f9803a75;
	--grey-color: #393e46;
	--white-color:#0e0e0e;
	// --white-color:#ffffff;
	// --black-color:  rgb(0, 0, 0);
	--black-color: #ffffff ;
	--lite-black: #2b2618;
	--darkBlue-color: #092e46;
}
// --yellow-color: #d3dbff;
// 	--grey-color: #707070;
// 	--white-color:#3b2e5a;
// 	--black-color: #000000 ;
// 	--lite-black: #221F17;
// 	--darkBlue-color: #010507;

::before,
::after {
  box-sizing: border-box;
}


html {
    overflow: scroll;
    overflow-x: hidden;
	cursor: crosshair;
	caret-color: yellow;
	-ms-overflow-style: none;  /* IE and Edge */
//   scrollbar-width: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}



h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

s {
	color: var(--white-color);
	font-family: 'Montserrat', sans-serif,'Cutive Mono';
}

h1 {
  font-size: 4.5rem;
  text-transform: uppercase;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.9rem;
   color: rgb(194, 194, 194);
}

.col-1 {
	color:var(--white-color);
	letter-spacing: -5px;
}

.col-2 {
	color: var(--grey-color);
	letter-spacing: -5px;
}

.col-3 {
	color: var(--yellow-color);
	letter-spacing: -5px;
}

.stroke {
	color: var(--black-color);
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: var(--black-color);
}

a,
li {
  text-decoration: none;
  list-style-type: none;
  color: var(--white-color);
}

img {
  height: auto;
  display: block;
}

.bgtext {
	font-size: 450px;
	-webkit-text-stroke-width: 3px;
  	-webkit-text-stroke-color: var(--white-color);
	-webkit-text-fill-color: transparent;
}

////line
.line {
		position: relative;
		// margin-left: 90px;
		height: 400px;
		width: 3px;
		background: var(--yellow-color);
	}

////mouseHover styles
.cursor {
	pointer-events: none;
	position: fixed;
	padding: .25rem;
	background: #fff;
	border-radius: 50%;
	mix-blend-mode: difference;
	transition: transform .3s ease;
	opacity: 0;
}

.hover-this:hover ~ .cursor {
	opacity: 1;
	transform: translate(-50%,-50%) scale(8);
}

.container {

	background-color: var(--black-color);
	display: grid;
	grid-template-rows: [main-start] repeat(6,780px ) [main-end faq-start] 780px [faq-end footer-start] 780px [footer-end];
	// grid-template-columns: repeat(4,1fr);

	grid-template-areas:"lan lan lan lan"
						 "txt1 txt1 txt1 txt1"
						 "txt2 txt2 txt2 txt2"
						 "txt3 txt3 txt3 txt3"
						 "txt4 txt4 txt4 txt4"
						 "txt5 txt5 txt5 txt5"
						 "txt6 txt6 txt6 txt6"
						 "foo foo foo foo";
	transition: 1s;
}

// .logo {
// 	grid-area: logo;
// 	font-size: 1.6rem;
// 	position: fixed;
// 	left: 40px;
// 	top: 40px;
// }

// #menu_bar {
// 	/* background-color: rgb(4, 0, 255); */
// 	grid-area: nav;
// 	position: fixed;
// 	right: 150px;
// 	top: 30px;
// }

// .navigation{
// 	display: grid;
// 	grid-gap: 60px;
// 	justify-items: space-around;
// 	grid-template-columns: repeat(4,1fr);
// 	color: rgb(194, 194, 194);
// 	margin: 0;
// }

///////////////////////////////////LANDING PAGE////////////////////////
.landing_page {
	background-color: var(--white-color);
	display: grid;
	grid-area: lan;

	grid-template-rows: [nav-start] 30vh [nav-end head-start] 70vh;
	grid-template-columns: repeat(2,1fr);
	grid-template-areas: "logo nav"
						 "head head";
}

//scroll indicator////////////////////////////
.percent {
	z-index: 3;
	position: fixed;
	bottom: 40px;
	right: 40px;
	-webkit-text-stroke-width: .8px;
  	-webkit-text-stroke-color: var(--white-color);
	-webkit-text-fill-color: rgba(0, 0, 0, 0);
	// margin: -10px 0 0 -10px;
	// border-radius: 50%;

	
}

// #fill {
// 	width: 30px;
// 	height: 30px;
// 	background: var(--white-color);
// 	border: 1px solid grey;
// 	border-radius: 50%;
// 	position: absolute;
// 	top: 50%;
// 	left: 50%;
// 	margin: -10px 0 0 -10px;
// 	pointer-events: none;
// 	// filter: opacity(50%);
// }

//mouse follow///////////////////////////////
// .wrap {
// 	width: 0;
// 	height:0;
// 	z-index: 9;
// 	position: fixed;
// 	top: 0;
// 	left: 0;
// 	bottom: 0;
// 	right: 0;
// 	// overflow: hidden;
// }

// #ball {
// 	width: 30px;
// 	height: 30px;
// 	background: var(--white-color);
// 	border: 1px solid grey;
// 	border-radius: 50%;
// 	position: absolute;
// 	top: 50%;
// 	left: 50%;
// 	margin: -10px 0 0 -10px;
// 	pointer-events: none;
// 	// filter: opacity(50%);
// }
//////////////////////////////////////////////

.logo{
	margin-left:-30px;
	transform: rotate(90deg);
	z-index:10;
	grid-area: logo;
	position: fixed;
	top: 65px;
	left: 0px;

	& h3 {
		color : var(--white-color);
	}
}

.navigation {
	grid-area: nav;
	display: grid;
	justify-items: flex-end;
	z-index: 10;
	font-weight: thin;


	position: fixed;
	top: 40px;
	right: 40px;
	
	& li {
		text-transform: uppercase;
		letter-spacing: 5px;
		margin-bottom: 20px;
	}


}

/////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////FIRST PAGE////////////////////////////////////////////////////
.first_page {
	grid-area: txt1;
	
.header_1 {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-40%,-40%);
	opacity: 1;

	& .text-1 {
		display: flex;

		transform: translate(-50%, -30%);
		width: 500px;
		margin-bottom: -25px;
	}
}

.header_2 {
	position: fixed;
	top: 50%;
	left: 45%;
	transform: translate(-40%,-40%);
	opacity:1;

	& .text-2 {
		display: flex;

		// position:relative;
		// top: 30%;
		// left: 30%;
		transform: translate(-30%, -50%);
		width: 500px;
		margin-bottom: -25px;
	}
}

.header_3 {
	position: fixed;
	top: 50%;
	left: 40%;
	transform: translate(-40%,-40%);
	opacity:1;

	& .text-3 {
		display: flex;

		// position:relative;
		// top: 30%;
		// left: 30%;
		transform: translate(-30%, -50%);
		width: 500px;
		margin-bottom: -25px;
	}
}
}

/////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////SUB HOME PAGE////////////////////////////////////////////////////
.gap1 {
	// background-color: var(--yellow-color);
	grid-area: txt2;
	overflow: hidden;
}

/////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////PROJECTS PAGE////////////////////////////////////////////////////
.projects {
	// background-color: turquoise;
	grid-area: txt3;
	display: flex;
	align-items: center ;

	& .proj_text1 {
		font-style: 'Montserrat';
		margin-left:80px;
		height: 500px;
	}

	// & .line {
	// 	margin-left: 200px;
	// }

	& .proj_content {
		margin-left:150px;
		background-color: var(--darkBlue-color);
		// visibility: hidden;
		z-index: 2;
		font-family: 'Montserrat';
		color: var(--white-color);
		width: 50%;
		height: 50%;
		border-left: 2px solid #fff;

		// & .proj_content-text {
		// 	margin-top: 20%;
		// }

		& .text-4 {
			display: flex;
			margin: 0;
			letter-spacing: 2px;
			// justify-content: center;
			align-items: center;

			& li h2{
				font-size: 4rem;
				transition: .2s;

				// &:hover {
				// 	transform: scaleY(1.5);
				// 	-ms-transform: skew(20deg,10deg); /* IE 9 */
  				// 	transform: skew(10deg,10deg);
				// }
			}
		}

		
	}
}


/////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////THISANDTHAT////////////////////////////////////////////////////
.crew {
	// background-color: rgb(90, 36, 36);
	grid-area: txt4;
	display: flex;
	align-items: center ;

	& .proj_text2 {
		font-style: 'Montserrat';
		margin-left:20px;
		height: 500px;
	}
}

///////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////THISANDTHAT////////////////////////////////////////////////////

.gap2 {
	// background-color: #03506f;
	grid-area: txt5;
	display: flex;
	align-items: center ;

	& .proj_text3 {
		font-style: 'Montserrat';
		margin-left:20px;
		height: 500px;
	}
}
/////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////THISANDTHAT////////////////////////////////////////////////////
.faq {
	grid-area: txt6;
	// background-color: var(--grey-color);
	border-bottom: 1px solid var(--lite-black);

	& .faq_sub {
		// background: #d4d4d4;
		
		& .blur {
		background-color: var(--grey-color);
		position: absolute;
		left: 15%;
		margin-top: 200px;
		// transform: translate(-50%, -50%);
		width: 70vw;
		height: 70vh;
		backdrop-filter: blur(100px);
		filter: blur(5px);
		border-radius: 38px;
		opacity: .5;
	}

	& .faq-text {
		z-index: 3;
		width: 70vw;
		height: 70vh;
		position: absolute;
		top: -49px;
		left: -100px;

		& h1 {
			position: relative;
			left: 20%;
			top: 10%;
			color: var(--yellow-color);
			font-size: 300px;
			opacity: 0.2;
			// filter: blur(60%);
		}
	}

	.questions {
		position: absolute;
		left: 22%;
		margin-top: 250px;
		width: 60vw;
		height: 60vh;
		font-family: 'cutive mono';
		color: var(--white-color);

		& .question_flex{
			display: flex;
			justify-content: flex-start;
			margin-left: -50px;
			
			& h1 {
			text-transform: uppercase;
			// margin-right: 30px;
		}

		& h2 {
			text-transform: uppercase;
		}
		}

		& p{
			text-transform: uppercase;
			// color: var(--grey-color);
			font-size: 30px;
			}
	}
	}

& .faq2,.faq3 {
	opacity: 0;
}
	
}

/////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////FOOTER////////////////////////////////////////////////////
.footer {
	// background-color:#FFB300;
	background-color:var(--black-color);
	grid-area: foo;
	align-content: center;

	& .soci_text {
		letter-spacing: 100px;
		position: absolute;
		left: 35px;
		margin-top: 160px;
		-webkit-text-fill-color: var(--grey-color);
		-webkit-text-stroke-width: 0px;
		opacity: .2
	}

	.copyright {
	color: var(--grey-color);
	height: min-content;
	position: relative;
	top: 310px;
	left: 40px;
}
}

.footer_items {
	display: flex;
	position: relative;
	top: 30vh;
	left: 40px;
	height: min-content;

	.menu {
		margin-top: 20px;

	& ul li {
		display: flex;
		justify-content: start;
		// color: #000;
		color: var(--white-color);
		margin-bottom: 70px;

		& a {
			color: var(--white-color);
			font-size: 50px;
			font-weight: 700;
			letter-spacing: -5px;
			z-index: 10;
		}
	}

	& ul li p {
	transform: rotate(90deg);
	letter-spacing: 1px;
	margin-left: -25px;
	margin-top: 10px;
	font-size: 10px;
}
}

.divider {
	z-index: 100;
	transform: rotate(90deg);
	width: 360px;
	position: absolute;
	top: 200px;
	left: 100px;

	& p {
		color: var(--white-color);
		font-size: 3px;
		letter-spacing: 1px;
		display: flex;
		justify-content: center;
	}

	& a:hover{
		cursor: no-drop;
		cursor: url();
	}
}

.footer_social {
	z-index: 10;
	margin-left: 100px;

	

	// & .social {
	// 	position: relative;
	// }

	& ul li{
		display: flex;

		&  a {
		font-weight: 700;
		color: -var(--grey-color);
		font-size: 80px;

		
	}

	&:not(:first-child) {
		margin-top: 40px;
	}
	}

	
}

.contact {
	z-index: 10;
	margin-left: 190px;
	margin-top: 100px;

	& span {
		align-items: center;
		background: var(--yellow-color);
		// filter: contrast(-3px);
		border-radius: 80px;
		display: flex;
		height: 100px;
		width: 280px;
		justify-content: center;
		border: 1px solid #ffffff3b;

	// &:hover{
	// 	align-items: center;
	// 	background: #221f1760;
	// 	border-radius: 80px;
	// 	display: flex;
	// 	height: 100px;
	// 	width: 280px;
	// 	justify-content: center;
	// 	box-shadow: 
	// 		3px 3px 3px 3px  #3f31101f,
	// 		-3px -3px 5px  #1616151e;
	// 	transform: scale(.98);
	// 	transition: .5s;
	// }
		
	}

	& span a {
		text-transform: uppercase;
		color: var(--white-color);
		text-decoration: none;
		font-size: 50px;
		font-weight: 700;
		letter-spacing: 0;
		transition: .5s ease-out;
	}

}
}

// .footer_img {
// 	position: absolute;
// 	display: flex;
// }

// .soci_img {
// 	visibility: visible;
// 	width: 1558px;
// 	height: 100%;
// 	opacity: 50%;
// 	left: 8px;
// 	top: 50px
// }



